@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
}

/* common style css */
:root {
  --paragraph: rgb(114, 114, 114);
  --heading: rgb(19, 19, 19);
  --header-ul: rgb(66, 66, 66);
  --bg-color: rgba(255, 144, 14, 0.1);
}

/* navber css code here  */
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1040px;
  margin: 0 auto;
  padding: 50px 0px;
}

.nav-container ul {
  display: flex;
}

.nav-container ul li {
  list-style: none;
}

.nav-container ul a {
  text-decoration: none;
  margin-right: 30px;
}

.nav-container h2 {
  color: var(--heading);
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
}

.nav-container ul a {
  color: var(--header-ul);
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

header {
  background: var(--bg-color);
}

.bg-content {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

.bg-content h2 {
  color: var(--heading);
  font-size: 54px;
  font-weight: 700;
  line-height: 75px;
  margin-top: 40px;
}

.bg-content p {
  color: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  margin: 30px 0px;
}

.primary-btn {
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 20px 26px;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 600;
  border: none;
}

.img-container {
  width: 1040px;
  margin: 0 auto;
}

.img-container img {
  width: 100%;
  margin: 40px 0px;
}

.feature-section {
  max-width: 980px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 100px 20px;
}

.feature-img {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  width: 1600px;
}

.feature-img img {
  width: 100%;
  height: 100%;
}

.feature-content h2 {
  font-size: 45px;
  font-weight: 700;
}

.feature-content .gray {
  color: var(--paragraph);
  font-weight: 500;
}

.feature-content .yellow {
  color: rgb(255, 144, 14);
  font-weight: 600;
}

.feature-content p {
  color: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin: 15px 0px;
}

/* love year section css here */
.love-year {
  display: flex;
  max-width: 980px;
  margin: 0 auto;
  gap: 60px;
}

.love-year-content h2 {
  color: var(--heading);
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  border-left: 5px solid rgb(255, 144, 14);
  padding-left: 15px;
}

.love-img-div {
  width: 480px;
  height: 1080px;
}

.love-year-img img {
  height: 100%;
  width: 100%;
}

.love-year-content > p {
  color: rgb(114, 114, 114);
  font-size: 16px;
  font-weight: 400;
  margin: 28px 0px;
  line-height: 26px;
}

.flex-love-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.flex-div {
  border-radius: 8px;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.06);
  background: rgb(255, 255, 255);
  padding: 20px;
}

.flex-div h3 {
  color: var(--heading);
  font-size: 20px;
  font-weight: 600;
}

.flex-div p {
  color: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  padding: 10px 0px;
}

.love-year-img {
  position: relative;
}

.love-img-content {
  color: rgb(255, 255, 255);
  border-radius: 8px;
  background: rgb(255, 144, 14);
  padding: 40px 30px;
  display: inline-block;
  text-align: center;
  position: absolute;
  bottom: -40px;
  left: -37px;
}

.love-img-content h4 {
  font-size: 40px;
}

/* fact container css */
.fact-container {
  margin: 150px auto;
  max-width: 980px;
}

.fact-container h2 {
  color: var(--heading);
  font-size: 45px;
  font-weight: 700;
  line-height: 53px;
  margin-bottom: 15px;
}

.fact-container > p {
  color: var(--paragraph);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  margin-bottom: 100px;
}

.fact-flex-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  gap: 50px;
}

.fact-flex {
  border: 2px solid #ff900e;
  text-align: center;
  padding: 30px 0px;
  border-radius: 8px;
}

.fact-flex h3 {
  color: var(--header-ul);
  font-size: 45px;
  font-weight: 600;
  margin: 10px 0px;
}

.fact-flex p {
  color: var(--paragraph);
  font-size: 20px;
  font-weight: 600;
}
